version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: books_catalog_mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: books_catalog
    volumes:
      - mongodb_data:/data/db
    restart: unless-stopped

volumes:
  mongodb_data:
